@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --inset-shadow-button-y: 4px;
  --inset-shadow-button: inset 0px calc(var(--inset-shadow-button-y) * -1) 0px
    rgba(0, 0, 0, 0.2);
  --color-surface: oklch(95.1% 0.035 68.7);
  --color-background: oklch(97.5% 0.017 67.6);
  --color-foreground: oklch(27.1% 0.068 154.6);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(27.1% 0.068 154.6);
  --color-primary: oklch(27.1% 0.068 154.6);
  --color-primary-foreground: oklch(100% 0 0);
  --color-primary-shadow: oklch(19.1% 0.036 175.1);
  --color-secondary: oklch(55.9% 0.14 124.7);
  --color-secondary-foreground: oklch(100% 0 0);
  --color-secondary-hover: oklch(47.6% 0.119 124.5);
  --color-muted: oklch(91.6% 0 0);
  --color-muted-foreground: oklch(50% 0 0);
  --color-accent: oklch(68.7% 0.188 47.8);
  --color-accent-foreground: oklch(100% 0 0);
  --color-destructive: oklch(59.8% 0.245 29.2);
  --color-destructive-foreground: oklch(100% 0 0);
  --color-destructive-background: oklch(59.8% 0.245 29.2 / 0.06);
  --color-destructive-on-background: oklch(57.1% 0.234 29.2);
  --color-success: oklch(55.1% 0.17 137.9);
  --color-success-foreground: oklch(100% 0 0);
  --color-success-background: oklch(55.1% 0.17 137.9 / 0.08);
  --color-success-on-background: oklch(52.7% 0.162 137.8);
  --color-info: oklch(56.9% 0.169 251.7);
  --color-info-foreground: oklch(100% 0 0);
  --color-info-background: oklch(56.9% 0.169 251.7 / 0.08);
  --color-info-on-background: oklch(54.3% 0.163 252.1);
  --color-control: oklch(50% 0 0);
  --color-border: oklch(91.6% 0 0);
  --color-input: oklch(91.6% 0 0);
  --color-ring: oklch(70.8% 0 0);
}

@theme inline {
  --font-sans: var(--font-articulat-cf);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button,
  [role="button"] {
    @apply cursor-pointer;
  }
  button:disabled,
  [role="button"]:disabled {
    @apply cursor-default;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
  h1 {
    @apply text-4xl font-black;
  }
  h2 {
    @apply text-3xl font-black;
  }
  h3 {
    @apply text-2xl font-black;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply text-base font-semibold;
  }
  p {
    @apply text-pretty;
  }
}

@layer utilities {
  label[data-required] span::after,
  legend[data-required] span::after {
    content: "*";
    @apply text-destructive mx-1;
  }
  .trans-all * {
    @apply transition-opacity duration-300;
  }
}
