@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: oklch(27.1% 0.068 154.6);
  --color-primary-shadow: oklch(19.1% 0.036 175.1);

  --color-neutral-light: oklch(91.6% 0 0);
  --color-neutral-medium: oklch(50% 0 0);

  --color-accent-bg-subtle: oklch(97.5% 0.017 67.6);
  --color-accent-bg-soft: oklch(95.1% 0.035 68.7);
  --color-accent: oklch(73.2% 0.186 53);
  --color-accent-strong: oklch(68.7% 0.188 47.8);

  --color-secondary: oklch(55.9% 0.14 124.7);
  --color-secondary-shadow: oklch(47.6% 0.119 124.5);

  --color-info-bg: oklch(96.5% 0.014 238);
  --color-info: oklch(56.9% 0.169 251.7);
  --color-info-on-bg: oklch(54.3% 0.163 252.1);

  --color-error-bg: oklch(96.6% 0.015 17.4);
  --color-error: oklch(59.8% 0.245 29.2);
  --color-error-on-bg: oklch(57.1% 0.234 29.2);

  --color-success-bg: oklch(96.3% 0.015 132.5);
  --color-success: oklch(55.1% 0.17 137.9);
  --color-success-on-bg: oklch(52.7% 0.162 137.8);

  --color-ring: oklch(0.708 0 0);
}

@theme inline {
  --font-sans: var(--font-articulat-cf);
  --color-border: var(--color-neutral-light);
  --color-input: var(--color-neutral-light);
  --color-control: var(--color-neutral-medium);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-accent-bg-subtle text-primary;
  }
  button,
  [role="button"] {
    @apply cursor-pointer;
  }
  button:disabled,
  [role="button"]:disabled {
    @apply cursor-default;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
  h1 {
    @apply text-4xl font-black;
  }
  h2 {
    @apply text-3xl font-black;
  }
  h3 {
    @apply text-2xl font-black;
  }
  h4 {
    @apply text-xl font-black;
  }
  h5 {
    @apply text-lg font-black;
  }
  h6 {
    @apply text-base font-black;
  }
  p {
    @apply text-pretty;
  }
  input[required] + label span:after,
  label[data-required="true"] span:after,
  [data-slot="form-label"][data-required="true"] span:after {
    content: "*";
    @apply text-error mx-1;
  }
}
