@import "tailwindcss";

@theme {
  --color-primary-dark-green: oklch(0.19 0.0373 172.82);
  --color-primary-green: oklch(0.27 0.0677 154.58);
  --color-primary-orange: oklch(0.73 0.1858 52.98);
  --color-primary-light-green: oklch(0.64 0.150789 119.9126);
  --color-primary-light-green-shadow: oklch(0.56 0.132 119.61);
  --color-primary-blue: oklch(0.72 0.1011 260.75);
  --color-primary-yellow: oklch(0.86 0.1764 89.91);
  --color-secondary-sand: oklch(0.93 0.0259 67.5);
  --color-secondary-beige: oklch(0.98 0.0151 61.35);
  --color-secondary-bone: oklch(0.87 0.0236 65.42);
  --color-neutral-grey: oklch(0.5 0 0);
  --color-neutral-light-grey: oklch(0.92 0 0);
  --font-sans: articulat-cf, system-ui, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  button,
  [role="button"] {
    cursor: pointer;
  }
  button:disabled,
  [role="button"]:disabled {
    cursor: default;
  }
  h1 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    font-weight: var(--font-weight-black);
  }
  h2 {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
    font-weight: var(--font-weight-black);
  }
  h3 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    font-weight: var(--font-weight-black);
  }
  h4 {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    font-weight: var(--font-weight-bold);
  }
  h5 {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: var(--font-weight-bold);
  }
  h6 {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: var(--font-weight-semibold);
  }
}